/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html {
  height: 100%;
}

body {
	margin:0px;
	padding:0px;
	height:100%;
	background-color:#000000;
}

#galaxy {
	width:600px;
	height:600px;
	transform: translate(50%, 50%);

}

#galaxy > #sun {
	border-radius:100%;
	background: repeating-radial-gradient(#456afc, #456afc 5px, #000000 5px, #000000 10px);
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:3;

}

#galaxy > #axis {
  height: 700px;
  border: 1.5px solid #c4e6ee;
  position: absolute;
  top: -10%;
  left: 50%;
  z-index: 2;
  transform: rotateZ(15deg);
}

#galaxy > .planets {
	border-radius:100%;
	position:absolute;

}

#galaxy > #planet1 {
	background: repeating-radial-gradient(#c4e6ee, #c4e6ee 5px, #000000 5px, #000000 10px);
	width:40px;
	height:40px;
	top:240px;
	left:650px;
	z-index: 2;

}

#galaxy > #planet2 {
	background: repeating-radial-gradient(#c4e6ee, #c4e6ee 5px, #000000 5px, #000000 10px);
	width:90px;
	height:90px;
	top:300px;
	left:470px;
	z-index:7;

}

#galaxy > #planet3 {
	background: repeating-radial-gradient(#c4e6ee, #c4e6ee 5px, #000000 5px, #000000 10px);
	width:170px;
	height:170px;
	top:290px;
	left:240px;
	z-index:8;

}

#galaxy > #planet4 {
	background: repeating-radial-gradient(#c4e6ee, #c4e6ee 5px, #000000 5px, #000000 10px);
	width:110px;
	height:110px;
	top:240px;
	left:100px;
	z-index:5;

}

#galaxy > #planet5 {
	background: repeating-radial-gradient(#c4e6ee, #c4e6ee 5px, #000000 5px, #000000 10px);
	width:80px;
	height:80px;
	top:180px;
	left:20px;
	z-index:5;


}

#galaxy > #planet6 {
	background: repeating-radial-gradient(#c4e6ee, #c4e6ee 5px, #000000 5px, #000000 10px);
	width:50px;
	height:50px;
	top:140px;
	left:0px;
	z-index:2;

}

#galaxy > #planet7 {
	background: repeating-radial-gradient(#c4e6ee, #c4e6ee 5px, #000000 5px, #000000 10px);
	width:25px;
	height:25px;
	top:70px;
	left:80px;
	z-index:1;

}
