/* CSS Document */
      * {
        margin: 0;
        padding: 0;
      }
      h1 {
        font-family: 'Open Sans', Arial, Helvetica, san-serif;
        font-size: 2.125rem;
        font-weight: Bold 700;
        letter-spacing: .0625rem;
        line-height: 1.25rem;
        text-align: left; 
        float: left;
        margin: .625rem;
        color: #000000;
      }
      body {
        font-family: 'Open Sans', Arial, Helvetica, san-serif;
        font-size: 1.75rem;
        font-weight: normal;
        line-height: 2.625rem;
        letter-spacing: .0625rem;
        color: #000000;
        background-color:eaeaea;
      }
      p.one {
        padding: 0rem 0rem 0rem 3.75rem;
      }
      header {
        float: left;
        font-family: 'Open Sans', Arial, Helvetica, san-serif;
        font-size: 1.4375rem;
        font-weight: normal;
        letter-spacing: .0625rem;
        display: block;
        line-height: 3rem;
        margin-left: 1.875rem;
        word-spacing: 1.25rem;

      }
      .border {
        border-style: solid;
        border-width: .0625rem;
        border-color: #000000;
      }

     p {
       margin-bottom: 1.25rem;
       clear: both;
     }
     a:link {
       text-decoration: none;
       color: #000000;
     }
     a:hover {
       background-color: #fff200;
     }
     a:visited {
       color: #77787b;
     }
     a:active {
        color: #000000;
     }
     
     footer {
        float: left;
        font-family: 'Open Sans', Arial, Helvetica, san-serif;
        font-size: 1.125rem;
        font-weight: normal;
        letter-spacing: .0625rem;
        display: block;
        line-height: 1.875rem;
        margin-left: 3.75rem;
        margin-top: 1.125rem;
        padding-right: 0rem;
        word-spacing: 1.25rem;
    }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
