

.blockelm {
  background-color: #ebeced;
  border: 2px solid #000000;
  margin-bottom: 20px;
  font-size:3rem;
  margin:4rem;
  width:50rem;
}

.inlineelm {
  color: #1d4f73;
  font-weight: bold;
}


