/* CSS Document */
body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', Arial, Helvetica, san-serif;
    font-weight: normal;
}

header {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-family: 'Anton', Arial, Helvetica, san-serif;
    font-size: 75px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #3d3121;
}

header, article, footer {
    border: 1px solid #3d3121;
}

footer {
    padding: 10px;
}

footer nav a {
    display: block;
    background-color: #3d3121;
    color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetica, san-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
}

footer nav a:hover {
    background-color: #7d6544;
}

a#navprevious {
    float: left;
}

a#navhome {
    width: 1%;
    margin-left: auto;
    margin-right: auto;
}

a#navnext {
    float: right;
}

article {
    margin-bottom: 15px;
    padding: 15px;
}

div.pic {
    width: 400px;
}

div.description {
    width: 50%;
    min-width: 400px;
    margin-left: 25px;
    margin-right: 25px;
}

div.description p {
    font-size: 15px;
    line-height: 22px;
}

div.description p:first-child {
    margin-top: 0px;
}

article#listing1 div.description {
    text-align: left;
}

article#listing1 div.pic,
article#listing1 div.description {
  float: right;  
}

article#listing2 div.description {
    text-align: right;
}

article#listing2 div.pic,
article#listing2 div.description {
  float: right;
}

.clearfix {
    clear: both;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
